@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800;900&display=swap');

*, :before, :after
{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Heebo;
}
.wrapper{
    display: flex;
    max-width: 876px;
    padding: 0 10px;
    margin: 0 auto;
}
.header{
    margin-bottom: 146px;
  &__menu{
    max-width: 1100px;
    padding: 0 16px;
    margin: 0 auto;
  }
}
.menu {
  &__list {
    height: 82px;
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    li {
      margin-left: 32px;
    }
    .active{
        color:#FF6464 ;
      }
    a {
      font-family: 'Heebo', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      color: #000000;
      transition: all 0.4s ease 0s;
      @media (min-width: 720px) {
        &:hover {
          color: #FF6464;
        }
      }
    }
      @media (max-width: 720px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 32px;
        height: 200px;
        a {
        font-size: 30px;
        }
      }
  }
}
.banner {
  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    @media (max-width: 720px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      h1, p {
        text-align: center;
        font-size: 32px;
        line-height: 40px;
      }
      img {
        max-width: 180px;
        height: 180px;
      }
      button {
        margin: 0 auto;
      }
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-family: Heebo;
    max-width: 497px;
    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 44px;
      line-height: 60px;
      color: #21243D;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      margin-top: 40px;
      width: 100%;
    }

    button {
      font-family: Heebo;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      background: #FF6464;
      border-radius: 2px;
      width: 208px;
      height: 47px;
      text-align: center;
      color: white;
      text-decoration: none;
      border: none;
      margin-top: 38px;
    }
  }
  &__img {
    img {
      border: 1px solid #000000;
      border-radius: 50%;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}

.posts {
  font-family: Heebo;
  background: #EDF7FA;
  margin-top: 71px;
  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 69px;
    align-items: center;
  }
  &__resent{
    a {
      font-size: 22px;
      line-height: 60px;
    }
    }
  &__view{
    a {
      font-size: 16px;
      line-height: 23px;
      color: #00A8CC;
    }
  }
  &__resents{
    display: flex;
    justify-content: space-between;
    font-family: Heebo;
     @media (max-width: 875px){
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 17px;
  }
  }
  &__post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    max-width: 372px;
    padding: 0 23px;
    margin-bottom: 17px;
    }
    h1{
      margin-top: 24px;
      font-family: Heebo;
      font-size: 26px;
      line-height: 38px;
      font-weight: bold;
      color: #21243D;
    }
    time{
      margin: 17px 0 11px 0 ;
    }
    p{

      font-size: 16px;
      line-height: 23px;
      margin-bottom: 7px;
    }
  }
.works {
  @media (max-width: 720px) {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    height: 86px;
    align-items: center;
  }

  &__posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__post {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 13px ;
    margin-bottom: 33px;
    @media (max-width: 720px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    img {
      align-items: center;
      height: 180px;
      margin-right: 11px;
      max-width: 246px;
    }
  }

  &__text {
    div {
      display: flex;
      align-items: center;
      .date {
        display: flex;
        color: white;
        width: 62px;
        height: 25px;
        background-color: #142850;
        border-radius: 16px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-right: 26px;
      }
    }

    p {
      margin-top: 22px;
    }
  }
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
  &__icon{
    display: flex;
    justify-content: space-between;
    margin-top: 134px;
    max-width: 100%;
    img{
      display: flex;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-content: center;
    }
  }
  &__copyright{
    margin-top: 26px;
    margin-bottom: 54px;
    align-content: center;
  }
}






